name: Run pre-commit hooks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-hooks:
    uses: mathbunnyru/pre-commit-workflows/.github/workflows/pre-commit.yml@main
